* {
  font-family: 'Terminess Nerd Font', sans-serif;
  font-size: 16px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  color: #eaeaea;
  margin: 0px;
  font-weight: 500;
}

#workspaces {
  padding: 2px;
  margin-left: 7px; /* Margin from the far left edge */
  margin-right: 7px; /* Spacing after the workspaces module */
  color: #ffffff;
  /* #2c323b -- background color */
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock {
  background-color: #2c323b;
  padding: 0.3rem 0.7rem;
  margin: 5px 2px;
  border-radius: 6px; /* This module is always rounded */
  box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


/* Right block */
#bluetooth,
#network,
#pulseaudio,
#cpu {
  background-color: #2c323b;
  padding: 0.3rem 0.7rem;
  margin: 5px 5px; 
  border-radius: 6px;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
